[submodule "bletchley"]
	path = bletchley
	url = https://github.com/Blugold-Group/bletchley
[submodule "uhura"]
	path = uhura
	url = https://github.com/Blugold-Group/uhura
[submodule "waterbottle"]
	path = waterbottle
	url = https://github.com/Blugold-Group/waterbottle
